@font-face {
    font-family: 'poppins';
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-bold';
    src: url(assets/fonts/Poppins-Bold.ttf);
}

body {
    font-family: 'poppins' !important;
}


.container-real {
    max-width: 1380px;
    margin: 0px auto;
    padding: 0px 40px;
}

/* Nave_bar_start */
.nav-section {
    background-color: #fafafa;
    padding: 20px 30px;
    height: 80px;
}

.ham-burg {
    display: none;
}

.logo-img img {
    width: 93px;
    margin-bottom: 10px;
}

.logo-img {
    width: 30%;
}

.rel-estat-manu {
    background-color: #fff;
    width: 470px;
    padding: 18px 19px;

}

.rel-estat-manu li {
    font-size: 16px;
}

.with {
    background-color: #fff;
    box-shadow: 0px 05px 15px -3px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:1229px) {
    .logo-img {
        width: 20%;
    }

    .right_btns {
        width: 400px;
    }

    .container-real {
        padding: 10px;
    }

    .nav-section {
        background-color: #fafafa;

        height: 80px;
    }
}

@media only screen and (max-width:1128px) {
    .rel-estat-manu li {
        display: none;
    }

    .rel-estat-manu {
        background-color: transparent;

    }
}

@media only screen and (max-width:799px) {
    .right_btns {
        display: none;
    }

    .ham-burg {
        display: flex;
        font-size: 25px;
    }

}

/* Nave_bar_ End  */

/* Heroo Section Start */
.hero_section {
    /* background: rgb(193, 222, 232);
    background: linear-gradient(90deg, rgba(193, 222, 232, 1) 20%, rgba(251, 217, 185, 1) 89%); */
    height: 617px;
    border-radius: 25px;
    margin-top: 30px;
    background-image: url(assets/Images/background.png);


}

.hero-home {
    width: 714px;
    height: 645px;
    margin-top: 20px;
}

.her-head2 {
    margin-left: 30px;
    margin-top: 130px;
}

.her-head2 h1 {
    font-family: 'poppins-bold';
    font-size: 67px;
    /* font-weight: 600; */

}

.her-head2 h2 {
    font-family: 'poppins';
    font-size: 17px;
    font-weight: 400;

}

.her-head2 p {
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;

}

.email-box {
    display: flex;

}

.email-box input {
    width: 320px;
    padding: 0px;
}

.email-box button {
    margin-left: -50px;
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:1249px) {
    .hero-home {
        width: 680px;
        height: 615px;
        margin-top: 20px;
    }

}

@media only screen and (max-width:1156px) {
    .hero-home {
        width: 620px;
        margin-top: 20px;
    }
}

@media only screen and (max-width:1045px) {
    .hero_section {
        height: 950px;
        border-radius: 25px;
        margin-top: 10px;
        background-image: url(assets/Images/background.png);
        text-align: center;


    }

    .her-head2 {
        text-align: center;
        margin-top: 130px;
        margin-left: 0px;

    }


    .email-box {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:685px) {
    .hero-home {
        width: 520px;
        height: 490px;
    }
}

@media only screen and (max-width:574px) {
    .hero-home {
        width: 480px;
        height: 410px;
        padding: 0px 10px;
    }
}

@media only screen and (max-width:506px) {
    .hero-home {
        width: 400px;
        height: 380px;
        padding: 0px 10px;
    }
}

@media only screen and (max-width:366px) {
    .hero_section {
        height: 600px;
        border-radius: 25px;
        margin-top: 10px;
        background-image: url(assets/Images/background.png);
        text-align: center;


    }

    .her-head2 {
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;

    }

    .hero-home {
        width: 300px;
        height: 280px;
        padding: 0px 10px;
    }

    .email-box input {
        width: 256px;
        padding: 0px;
    }

    .her-head2 h1 {
        font-size: 39px;
    }

    .her-head2 p {
        font-family: 'poppins';
        font-size: 14px;
        margin-top: 10px;
        padding: 10px 12px;
    }
}

/* Heroo Section  End  */

/* info section start */
.pra {
    margin-top: 100px;
    text-align: center;
}

.info-img>img {
    color: #58BF52;
    width: 65px;
    margin: 30px 10px;

}

.info-head {
    font-size: 38px;
    text-align: center;
    font-family: 'poppins-bold';
}

.info-head01 {
    width: 350px;
}

.info-head01>h2 {
    font-size: 28px;
    font-family: 'poppins-bold';

}

.info-head01>p {
    font-size: 16px;
    font-family: 'poppins';
    margin-top: 25px;

}

.p-l {
    padding-left: 10px;
}

@media only screen and (max-width:366px) {
    .info-head {
        font-size: 30px;
        text-align: center;
        font-family: 'poppins-bold';
    }

    .info-head01>h2 {
        font-size: 24px;
    }

    .info-head01>p {
        margin-top: 10px;
    }
}

/* info section  End */

/* card section start */

.info-head-card {
    font-size: 38px;
    text-align: left;
    font-family: 'poppins-bold';
    margin-bottom: 30px;
}

.border-of-hole {
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #BEBEBE;
    width: 385px;
}

.card-content {

    padding-top: 35px;
    padding-left: 14px;
    padding-right: 25px;
    margin-top: -13px;
    width: 415px;

}

.card-content h3 {
    font-family: 'poppins-bold';
    font-size: 24px;
    padding-bottom: 10px;
}

.card-content p {
    padding-right: 15px;
}

.card-img-all {
    width: 389px;
}

.review-img {
    width: 100%;
}

@media only screen and (max-width:366px) {
    .info-head-card {
        font-size: 34px;
        text-align: left;
        font-family: 'poppins-bold';
        margin-bottom: 30px;
    }

    .card-content {
        padding-top: 35px;
        padding-left: 14px;
        padding-right: 25px;
        margin-top: -13px;
        width: 378px;
    }

    .card-img-all {
        width: 334px;
    }

}

/* card section end    */

/* global section start */
.margin-t {
    margin-top: 100px;
    margin-bottom: 20px;
}

.head-global {
    font-size: 50px;
    font-family: 'poppins-bold';
    text-align: center;

}

.global-content h3 {
    font-size: 40px;
    font-weight: 900;
    padding-top: 50px;
}

.global-content p {
    width: 417px;
}

.btn-balck {
    background-color: #1F1F1F;
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
    padding: 17px 35px;
}

.btn-white {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 17px 35px;
}

.global-num>h3 {
    margin-top: 90px;
    font-size: 67px;
    font-family: 'poppins-bold';
    margin-bottom: 0px;
}




.global-right img {
    border-radius: 15px;
    width: 100%;
}

@media only screen and (max-width:1290px) {
    .head-global {
        font-family: 'poppins-bold';
        text-align: center;
        padding: 10px 113px;
    }
}

@media only screen and (max-width:366px) {
    .head-global {
        font-size: 33px;
        padding: 10px 0px;
    }

    .global-content h3 {
        font-size: 26px;
    }

    .global-content p {
        width: 333px;
    }

    .global-num>h3 {
        margin-top: 30px;

        font-size: 45px;
        font-family: 'poppins-bold';
        margin-bottom: 0px;
    }

    .global-num {
        margin-bottom: 30px;
    }
}

/* global section  end  */

/* Last section start */
.hero_section-last {
    height: 457px;
    border-radius: 25px;
    background-image: url(assets/Images/last-background.png);


}

.hero-home-last {
    width: 606;
    height: 557px;
    margin-top: -43px;
}

.her-head2-last {
    margin-left: 30px;
    margin-top: 62px;
}

.her-head2-last h1 {
    font-family: 'poppins-bold';
    font-size: 45px;
    /* font-weight: 600; */

}

.her-head2-last h2 {
    font-family: 'poppins';
    font-size: 17px;
    font-weight: 400;

}

.her-head2-last p {
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    /* margin-right: 79px; */

}

.email-box {
    display: flex;

}

.email-box input {
    width: 320px;
    padding: 0px;
}

.email-box button {
    margin-left: -50px;
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:1249px) {
    .hero-home-last {
        width: 680px;
        height: 615px;
        margin-top: 20px;
    }

}

@media only screen and (max-width:1156px) {
    .hero-home-last {
        width: 620px;
        margin-top: -45px;

    }
}

@media only screen and (max-width:1045px) {
    .hero_section-last {
        height: 641px;
        border-radius: 25px;
        margin-top: 10px;
        background-image: url(assets/Images/background.png);
        text-align: center;


    }

    .her-head2-last {
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;

    }


    .email-box {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:685px) {
    .hero-home-last {
        width: 520px;
        height: 490px;
    }
}

@media only screen and (max-width:574px) {
    .hero-home-last {
        width: 480px;
        height: 410px;
        padding: 0px 10px;
    }
}

@media only screen and (max-width:506px) {
    .hero-home-last {
        width: 400px;
        height: 380px;
        padding: 0px 10px;
    }
}

@media only screen and (max-width:366px) {
    .hero_section-last {
        height: 600px;
        border-radius: 25px;
        margin-top: 10px;
        background-image: url(assets/Images/background.png);
        text-align: center;


    }

    .her-head2-last {
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;

    }

    .her-head2-last h1 {
        font-size: 33px;
    }

    .hero-home-last {
        width: 300px;
        height: 280px;
        padding: 0px 10px;
        margin-top: 20px;
    }

    .email-box input {
        width: 256px;
        padding: 0px;
    }

    .her-head2-last p {
        font-family: 'poppins';
        font-size: 13px;
        margin-top: 10px;
        padding: 10px 12px;
    }
}

/* Last section  end  */