@font-face {
    font-family: 'poppins';
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-bold';
    src: url(assets/fonts/Poppins-Bold.ttf);
}

body {
    font-family: 'poppins' !important;
}


.container-real {
    max-width: 1380px;
    margin: 0px auto;
    padding: 0px 40px;
}

/* Nave_bar_start */
.nav-section {
    background-color: #fafafa;
    padding: 20px 30px;
    height: 80px;
}

.ham-burg {
    display: none;
}

.logo-img img {
    width: 93px;
    margin-bottom: 10px;
}

.logo-img {
    width: 30%;
}

.rel-estat-manu {
    background-color: #fff;
    width: 470px;
    padding: 18px 19px;

}

.rel-estat-manu li {
    font-size: 16px;
}

.with {
    background-color: #fff;
    box-shadow: 0px 05px 15px -3px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:1229px) {
    .logo-img {
        width: 20%;
    }

    .right_btns {
        width: 400px;
    }

    .container-real {
        padding: 10px;
    }

    .nav-section {
        background-color: #fafafa;

        height: 80px;
    }
}

@media only screen and (max-width:1128px) {
    .rel-estat-manu li {
        display: none;
    }

    .rel-estat-manu {
        background-color: transparent;

    }
}

@media only screen and (max-width:799px) {
    .right_btns {
        display: none;
    }

    .ham-burg {
        display: flex;
        font-size: 25px;
    }

}

/* Nave_bar_ End  */

/* Heroo Section Start */
.hero_section {
    /* background: rgb(193, 222, 232);
    background: linear-gradient(90deg, rgba(193, 222, 232, 1) 20%, rgba(251, 217, 185, 1) 89%); */
    height: 617px;
    border-radius: 25px;
    margin-top: 30px;
    background-image: url(assets/Images/background.png);


}

.hero-home {
    width: 714px;
    height: 645px;
    margin-top: 20px;
}

.her-head2 {
    margin-left: 30px;
    margin-top: 130px;
}

.her-head2 h1 {
    font-family: 'poppins-bold';
    font-size: 67px;
    /* font-weight: 600; */

}

.her-head2 h2 {
    font-family: 'poppins';
    font-size: 17px;
    font-weight: 400;

}

.her-head2 p {
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;

}

.email-box {
    display: flex;

}

.email-box input {
    width: 320px;
    padding: 0px;
}

.email-box button {
    margin-left: -50px;
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:1249px) {
    .hero-home {
        width: 680px;
        height: 615px;
        margin-top: 20px;
    }

}

@media only screen and (max-width:1156px) {
    .hero-home {
        width: 620px;
        margin-top: 20px;
    }
}

@media only screen and (max-width:1045px) {
    .hero_section {
        border-radius: 25px;
        margin-top: 10px;
        background-image: url(assets/Images/background.png);
        text-align: center;


    }

    .her-head2 {
        text-align: center;
        margin-top: 130px;
        margin-left: 0px;

    }


    .email-box {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:685px) 
{
.hero-home
{
    width: 520px;
    height: 490px;
}
}
@media only screen and (max-width:574px) 
{
.hero-home
{
    width: 480px;
    height: 410px;
    padding: 0px 10px;
}
}
@media only screen and (max-width:506px) 
{
.hero-home
{
    width: 400px;
    height: 380px;
    padding: 0px 10px;
}
}

@media only screen and (max-width:366px) 
{
    .her-head2 {
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;

    }
.hero-home
{
    width: 300px;
    height: 280px;
    padding: 0px 10px;
}
.email-box input {
    width: 219px;
    padding: 0px;
}
.her-head2 h1
{
font-size: 39px;
}
.her-head2 p {
    font-family: 'poppins';
    font-size: 14px;
    margin-top: 10px;
}
}

/* Heroo Section  End  */